body {
    background-color: lightblue;
    font-family: "Verdana", Verdana, sans-serif;
    
    margin: 20px;
}

h1 {
    color: navy;
    font-family:"Arial Black", Gadget, sans-serif;
}

.left{
     float: left;
     width: 40%;
     padding:5px;
     padding-bottom:5%;
}

.right{
     float: right;
     width: 58%;
padding-bottom:5%;
}

#addressBox{
   background-color: white;
   padding: 15px;
   padding-bottom:25px;
}

#addressBox p{
   margin-bottom: -10px
}
